$tv-hemau-rot:  #ff3900 !default;
$white:         #ffffff !default;
$black:         #000000 !default;
$dark-gray:     #333333 !default;
$light-gray:    #DDDDDD !default;
$red:           #ff0000 !default;
$green:         #00ff00 !default;
$blue:          #0000ff !default;

$base-border-radius: 3px !default;

$medium-screen: em(640) !default;
$large-screen: em(860) !default;

$base-spacing: 1.5em !default;
$base-line-height: 1.5em !default;

$base-font-color: $dark-gray !default;
$base-font-color-hover: $white !default;

$base-background-color: $light-gray !default;

$base-border-color: darken($tv-hemau-rot, 20%) !default;


$action-color: $white !default;


$navigation-background: $tv-hemau-rot;
$navigation-height: 60px;
$navigation-font-color: $dark-gray;
$navigation-font-color-hover: $white;

/* Variablen _nav-bar */
$centered-navigation-padding: 1em;
$centered-navigation-logo-height: 2em;
$centered-navigation-color: transparentize($base-font-color, 0.3);
$centered-navigation-color-hover: $black;
$centered-navigation-item-padding: 1em;
$centered-navigation-submenu-padding: 1em;
$centered-navigation-submenu-width: 12em;
$centered-navigation-item-nudge: 2.2em;
$horizontal-bar-mode: $large-screen;

/* Variablen _footer-bar */
$footer-link-color: transparentize($navigation-font-color, 0.6);
$footer-disclaimer-color: transparentize($navigation-font-color, 0.6);

/* Variablen _tables */
$table-border-color: $base-border-color;
$table-border: 1px solid $table-border-color;
$table-background: lighten($table-border-color, 12%);
$table-header-background: white;
$table-hover-background: white;
$table-stripe-background: darken($table-background, 2%);
$table-stripe-background-hover: darken($table-stripe-background, 5%);
$table-padding: 0.75em 1em;
